@import "tailwindcss";
@font-face {
  font-family: "slick";
  src: url("/fonts/slick.woff") format("woff");
  font-display: swap;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}
@media screen and (max-width: 767px) {
  section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
}
